<div class="container mt-5 pt-3">
  <div class="row g-4 justify-content-center">
    
    <div class="col-12 col-lg-8">
      
      <app-create-post #createPostComp (postCreated)="onNewPostCreated($event)"></app-create-post>

      @for (p of posts; track p.id) {
        <app-post-card 
          [post]="p" 
          [currentUser]="currentUser" 
          (postDeleted)="onDeleteSuccess($event)"
          [editComponent]="createPostComp" 
          (commentsOpened)="onCommentsOpened($event)">
        </app-post-card>
      }

      <div #scrollAnchor class="scroll-anchor py-4 text-center">
        <div *ngIf="!isLastPage && posts.length > 0" class="loader">
          <div class="spinner-border text-primary" role="status"></div>
          <p class="mt-2 text-primary fw-bold">Chargement de la suite...</p>
        </div>
      </div>

      <div *ngIf="isLastPage && posts.length > 0" class="end-message text-center my-5">
        <hr class="w-50 mx-auto opacity-25">
        <p class="text-muted italic">✨ Vous avez vu toutes les publications.</p>
      </div>

    </div> </div> </div>