.modal-content {
    transition: all 0.3s ease;
}

textarea::placeholder {
    color: #adb5bd;
}

.btn-light:hover {
    background-color: #e9ecef;
    transform: scale(1.1);
}

img {
    display: block;
    margin: 0 auto;
}

/* Animation mlli kat-t-7el */
.modal.fade .modal-dialog {
    transform: scale(0.9);
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
}