.error-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* Hado homa s-sir bach mat-banch kbira bzzaf */
  width: 100vw;      /* 100% mn l-3ard dyal l-mochach */
  height: 100vh;     /* 100% mn l-tool dyal l-mochach */
  object-fit: cover; /* Kat-khlli l-video t-adapta m3a l-ecran bla ma t-deforma */

  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: -1;
}

.content {
  z-index: 1;
  h1 {
    font-size: 8rem;
    margin: 0;
    font-weight: 900;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .btn-home {
    padding: 10px 25px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    &:hover {
      background: #eeeeee;
    }
  }
}