body {
  background-color: #f0f2f5 !important; /* Lon dial Facebook jdid, nqi l-l3in */
  /* padding-top: 80px !important; */
}

/* T-7sinat l-Bootstrap cards */
.card-body {
  padding: 20px !important;
}