<div *ngFor="let post of posts" class="post-card" style="position: relative;">

  <!-- زر 3 نقاط -->
  <button class="post-menu-btn" (click)="toggleMenu(post)">⋮</button>

  <!-- Menu -->
  <div class="post-menu" *ngIf="post.showMenu">

    <!-- إذا كان صاحب البوست -->
    <ng-container *ngIf="auth.currentUser?.username === post.authorUsername; else reportButton">
      <div (click)="editPost(post)">✏️ Edit</div>
      <div (click)="deletePost(post.id)">🗑 Delete</div>
    </ng-container>

    <!-- إذا ماشي هو صاحب البوست -->
    <ng-template #reportButton>
       <!-- (click)="reportPost(post.id)" -->
      <div>🚩 Report</div>
    </ng-template>

  </div>

  <h3>By: {{ post.authorUsername }} | {{ post.createdAt | date:'short' }}</h3>
  <p>{{ post.description }}</p>

  <img *ngIf="isImage(post.mediaUrl)" [src]="'http://localhost:8080' + post.mediaUrl" alt="post image" />

  <video *ngIf="isVideo(post.mediaUrl)" controls>
    <source [src]="'http://localhost:8080' + post.mediaUrl" />
  </video>
<button (click)="toggleLike(post)" [disabled]="post.isLiking">
  {{ post.liked ? '❤️' : '🤍' }}
</button>
<br>
<span>{{ post.likesCount }} Like{{ post.likesCount > 1 ? 's' : '' }}</span>
<!-- زر باش نعرضو التعليقات -->
<button (click)="openComments(post)">💬 Commentaires</button>


<!-- Popup modal -->
<div class="modal-backdrop" *ngIf="selectedPostId">
  <div class="modal">
    <button class="close-btn" (click)="closeComments()">✖</button>
    <app-comment 
      [postId]="selectedPostId" 
      [userId]="auth.currentUser?.id">
    </app-comment>
  </div>
</div>


</div>
