.post-card {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.post-card p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

.post-card img,
.post-card video {
  width: 100%;
  max-height: 450px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
}

.post-card video {
  background: #000;
}

.post-card p:first-child {
  font-size: 15px;
  font-weight: bold;
}

.post-card p:nth-child(2) {
  color: #777;
  font-size: 13px;
}
/* زر 3 نقاط */
.post-menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 22px;
  color: #555;
  cursor: pointer;
  z-index: 10;
}

.post-menu-btn:hover {
  color: #000;
}

/* Menu */
.post-menu {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 120px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  z-index: 20;
  padding: 5px 0;
}

.post-menu div {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.post-menu div:hover {
  background: #f1f1f1;
}

